<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>142784980549-d3a8om069rbm1uoo4lmee1qvkoie3000.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.142784980549-d3a8om069rbm1uoo4lmee1qvkoie3000</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>142784980549-a9p739nr4nl3rm88nnn3dpn51o6eek61.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCYEPIRrcKZK5Ha_0hOXaA_BPcTKHKvdPI</string>
	<key>GCM_SENDER_ID</key>
	<string>142784980549</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SolunaGames.SoundsLike</string>
	<key>PROJECT_ID</key>
	<string>sounds-like-26713874</string>
	<key>STORAGE_BUCKET</key>
	<string>sounds-like-26713874.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142784980549:ios:c24629aff8411f63a5a52c</string>
	<key>DATABASE_URL</key>
	<string>https://sounds-like-26713874-default-rtdb.firebaseio.com</string>
</dict>
</plist>